MONGODB_URI=
PORT=5001
FRONTEND_URL=http://localhost:5173
JWT_SECRET=
ADMIN_EMAIL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=dqvivbpml
CLOUDINARY_API_KEY=147176263815138
CLOUDINARY_API_SECRET=1KvcaqFiOy09aF147eTX2oT75R4
